In [1]:
# les chaînes sont des séquences non modifiables
x = "bonjour"
x[0] = "B"

TypeError: 'str' object does not support item assignment

In [2]:
n= "hello"
if n<"salut":
    place = "precede"
elif n>"salut":
    place = "suit"
else:
    place = "se confond avec"
print("le mot", n, place, "le mot salut dans l'ordre alphabetique")

le mot hello precede le mot salut dans l'ordre alphabetique

In [4]:
int(0)

0

In [5]:
ch = input()
n=int(ch)
if n:
    print("vrai")
else:
    print("faux")

0
faux

In [7]:
while True:
    mot = input("input a word: ")
    if mot == "":
        break
    if mot < "limonada":
        place = "precede"
    elif mot > "limonade":
        place = " suit"
    else:
        place = "se confond avec"
    print("le mot", mot, place, "le mot 'limonade' dans l'ordre alphabetique")

input a word:
le mot   precede le mot 'limonade' dans l'ordre alphabetique
input a word:

In [1]:
while 1:
    l = input("q pour quitter:")
    if l=="q":
        print("fin")
        break

q pour quitter:q
fin

In [5]:
i=1
while i<20:
    if i%3==0:
        i+=4
        print("on incremente i de 4, il est mtn egale a, i")
#         continue
    print("i=",i)
    i+=1

i= 1
i= 2
on incremente i de 4, il est mtn egale a, i
i= 7
i= 8
on incremente i de 4, il est mtn egale a, i
i= 13
i= 14
on incremente i de 4, il est mtn egale a, i
i= 19

In [6]:
prefix = 'JKLMNOP'
for i in range(len(prefix)):
    print(prefix[i] + "ack")

Jack
Kack
Lack
Mack
Nack
Oack
Pack

In [3]:
suite = input()
suite_str = str(suite)
if "e" in suite:
    print("yes")
else:
    print("n")

end
yes

In [4]:
suite1 = input()
suite_str1 = str(suite1)
for car in suite1:
    if car in "aeiouAEIOU":
        print("voyelle")
    else:
        print("*")

rebecca
*
voyelle
*
voyelle
*
*
voyelle

In [12]:
suite2 = input()
resultat=""
suite_str2 = str(suite2)
for car in suite_str2:
    resultat = resultat + car + "*"
resultat_final = resultat[:-1]
print(resultat_final)

abcd
a*b*c*d

In [1]:
suite3 = input()
resultat=""
suite_str3 = str(suite3)
longueur = len(suite_str3)
for i in range(longueur):
    if i>0:
        resultat = resultat + suite_str3[-i]
resultat = resultat + suite_str3[0]
print(resultat)

abcd
dcba

In [11]:
## eval()
ch = input()
list(eval(ch))

1,2,3

[1, 2, 3]

In [1]:
from turtle import *
forward(120)
left(90)
color("red")
forward(80)

In [8]:
reset()

In [7]:
a=0
while a<12:
    a=a+1
    forward(150)
    left(150)

In [2]:
# method(object.method) fonction attached to object

liste=[0,1,2,3]
liste[2:3]

[2]

#### import module vs. from module import *
import module <br>
module.fonction

from module import*<br>
fonction

### exercices list

In [10]:
t1 = [31,28,31,30,31,30,31,31,30,31,30,31]
t2=['Janvier','Fevrier','Mars','Avril','Mai','Juin','Juillet','Aout','Septembre','Octobre','Novembre','Decembre']
t3 = []
for i in range(len(t1)):
    t3.append(t2[i])
    t3.append(t1[i])
print(t3)

['Janvier', 31, 'Fevrier', 28, 'Mars', 31, 'Avril', 30, 'Mai', 31, 'Juin', 30, 'Juillet', 31, 'Aout', 31, 'Septembre', 30, 'Octobre', 31, 'Novembre', 30, 'Decembre', 31]

In [19]:
t4 = [13, 79, 1, 30, 456, 16]
t4 =sorted(t4)
print("le plus grand element de la liste a la valeur de "+str(t4[-1]))

le plus grand element de la liste a la valeur de 456

In [23]:
t5=[]
t6=[]
for t in t4:
    if t%4==0:
        t5.append(t)
    else:
        t6.append(t)
print("liste des nombres divisibles par 4 : " + str(t5))
print("liste des nombres non divisibles par 4 : " + str(t6))

liste des nombres divisibles par 4 : [16, 456]
liste des nombres non divisibles par 4 : [1, 13, 30, 79]

In [1]:
"this is a test".split()

['this', 'is', 'a', 'test']

### exercices 5

In [2]:
def nbrMot(mot, text):
    nbr = 0
    for m in text.split():
        if mot == m:
            nbr+=1
    return nbr

In [3]:
nbrMot("a", "this is a test, a simple test")

2

In [25]:
def nbrCarac(carac, text):
    nbr = 0
    for caractere in list(text):
        if carac == caractere:
            nbr+=1
    return nbr

In [26]:
nbrCarac("a", "an apple alias")

4

In [6]:
def nbrSerie(serie, text):
    nbr = 0
    listS=list(serie)
    listT=list(text)
    for indexCaracS in range(listS):
        for indexCaracT in range(listT):
        if listS[indexCaracS] == listT[indexCaracT]:
            if listS[indexCaracS+1] == listT[indexCaracT+1]:

a
p
p
l
e

In [ ]:
# isupper()
def isMajus(m):
    if m in ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"]:
        return True
    else:
        return False

In [22]:
def nomMois(n):
    listMois = ['janvier','fevrier','mars','avril','mai','juin','juillet','aout','septembre','octobre','novembre','decembre']
    if n>12:
        return "n doit etre inferieur ou egale 12"
    else:
        return listMois[n-1]

In [23]:
# split()
def chaineListe(phrase):
    list(phrase)

'avril'

In [24]:
list('this is a test')

['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 't', 'e', 's', 't']

In [28]:
list('abc')

['a', 'b', 'c']

In [ ]:
def indexMax(liste):