## cours 1

### code

In [241]:
# coding: utf-8
# difference python 2 et python 3 sur /
# L’opérateur de division / effectue une division
# réelle
# – Pour obtenir une division entière (le résultat est
# un entier), utiliser //  *, +, /, //, **
#

In [2]:
n = input("hehe")  # put s
print("hehe",n)

hehehaha
hehe haha

In [245]:
print(n)

9

In [3]:
10%3  # modulo whole division divise par ?

1

In [7]:

x = y = 7 # affectation simultanee

In [117]:
a,b = 4,8.44 # affection parallele

# Contrôle du flux d’exécution : if while for etc.
# boolean == !=
# instructions imbriquees

In [121]:
a,b,c,d = 1,2,3,4

### exercise

In [122]:
# beginning exercise exercise 1 : echanger les valeurs de a et b
temp = a 
a = b
b= temp
print(a,b)

2 1

In [233]:
# exercise 2 : creer une suite de finonacci
while c < 11 :
    print(b,end=" ")
    a,b,c = b,a+b,c+1
# L’argument end=" " signifie qu’on souhaite remplacer le
# saut de la ligne par une simple espace

1 3 4 7 11 18 29 47

In [7]:
#  exercise 3: Faire un test pour savoir si a est compris dans l’intervalle allant de 2 à 8
a = float(input("input a number"))
if a in range(2,9):
    print("in")

input a number4
in

In [9]:
# exercise 4 : Afficher les 10 premiers termes de la table de multiplication par 7, 
# en signalant au passage (à l’aide d’une astérisque) ceux qui sont des multiples de 3.
for i in range(1,11):
    if (7*i)%3 == 0:
        print(str(7*i) + "*")
    else :
        print(7*i)

7
14
21*
28
35
42*
49
56
63*
70

In [11]:
# exercise 5 : Afficher une suite de 10 nombres dont chaque terme soit égale au triple du terme précédent
a = 4
for i in range(10):
    print(a*3, end = " ")
    a = a*3
# end exercise

12 36 108 324 972 2916 8748 26244 78732 236196

## cours 2

### Code

In [22]:
for i in range(50):
    print(i,":",type(i))

0 : <class 'int'>
1 : <class 'int'>
2 : <class 'int'>
3 : <class 'int'>
4 : <class 'int'>
5 : <class 'int'>
6 : <class 'int'>
7 : <class 'int'>
8 : <class 'int'>
9 : <class 'int'>
10 : <class 'int'>
11 : <class 'int'>
12 : <class 'int'>
13 : <class 'int'>
14 : <class 'int'>
15 : <class 'int'>
16 : <class 'int'>
17 : <class 'int'>
18 : <class 'int'>
19 : <class 'int'>
20 : <class 'int'>
21 : <class 'int'>
22 : <class 'int'>
23 : <class 'int'>
24 : <class 'int'>
25 : <class 'int'>
26 : <class 'int'>
27 : <class 'int'>
28 : <class 'int'>
29 : <class 'int'>
30 : <class 'int'>
31 : <class 'int'>
32 : <class 'int'>
33 : <class 'int'>
34 : <class 'int'>
35 : <class 'int'>
36 : <class 'int'>
37 : <class 'int'>
38 : <class 'int'>
39 : <class 'int'>
40 : <class 'int'>
41 : <class 'int'>
42 : <class 'int'>
43 : <class 'int'>
44 : <class 'int'>
45 : <class 'int'>
46 : <class 'int'>
47 : <class 'int'>
48 : <class 'int'>
49 : <class 'int'>

In [24]:
phrase = "j'aime bien"; print(phrase)

j'aime bien

In [25]:
phrase = '"hehe"'; print(phrase)

"hehe"

In [27]:
txt3 = '"N\'est-ce pas"'; print(txt3)

"N'est-ce pas"

In [29]:
a1 = """
    Usage: hehe[]
    {
     -h
     -H hote
    }
"""; print(a1)

    Usage: hehe[]
    {
     -h
     -H hote
    }

In [30]:
# chaine de caracteres
ch = "Christine"
print(ch[0],ch[3])

C i

In [31]:
ch = '544'
print(int(ch)+3)

547

In [32]:
nom = "Cedric"
print(nom[-1],nom[-6])

c C

In [34]:
print(nom[:3])
print(nom[3:])

Ced
ric

In [36]:
print("test "*4)

test test test test

In [38]:
car = "e"
voyelle = "aeiouy"
if car in voyelle:
    print(car + " est une voyelle")

e est une voyelle

In [39]:
# les chaine sont inmodifiables
salut = "bonjour a tous"
salut[0] = 'B'

TypeError: 'str' object does not support item assignment

In [40]:
salut = 'B' + salut[1:];print(salut)

Bonjour a tous

In [41]:
# ne fonctionne bien que pour des mots qui sont tous entièrement en minuscules, ou entièrement en majuscules, et qui ne comportent aucun caractère accentue car les majuscules et minuscules utilisent des ensembles de codes distincts.

# les caractères accentuées sont encodés en dehors l’ensemble constitué par les caractères du standard ASCII.

n = "hello"
if n < "salut":
    place = "precede"
elif n > "salut":
    place = "suit"
else :
    place = "se confond avec"
print("le mot ",n,place,"le mot 'salut' dans l'ordre alphabetique")

le mot  hello precede le mot 'salut' dans l'ordre alphabetique

In [44]:
"hello" < "salut"

True

In [45]:
"a" < "b"

True

In [46]:
print("bonjour","a","tous",sep=" ")

bonjour a tous

In [47]:
# On peut remplacer le saut à la ligne terminal avec l’argument « end »
n=0
while n<6:
    print("zut",end="")
    n+=1

zutzutzutzutzutzut

In [49]:
a = input("entrez une donne numerique")
type(a)
b= float(a)  # convertir en nombre reel
type(b)

entrez une donne numerique3

float

In [50]:
float("12.23")  # int  str

12.23

In [54]:
# seule la valeur 0 est fausse
True == 0

False

In [55]:
True == "tset"
# if ch = if ch!=""

False

In [56]:
"test"!=""

True

In [59]:
while True:
    mot = input("input a word: ")
    if mot == "":
        break
    if mot < "limonada":
        place = "precede"
    elif mot > "limonade":
        place = " suit"
    else:
        place = "se confond avec"
    print("le mot", mot, place, "le mot 'limonade' dans l'ordre alphabetique")

input a word: test
le mot test  suit le mot 'limonade' dans l'ordre alphabetique
input a word:

In [83]:
# continue
i = 1
while i <20:
    if i%3==0:
        i+=4  # i = i + 4
        print("on incrémente i de 4. i est maintenant égale à", i)
        continue
    print("la variable i =", i)
    i+=1

la variable i = 1
la variable i = 2
on incrémente i de 4. i est maintenant égale à 7
la variable i = 7
la variable i = 8
on incrémente i de 4. i est maintenant égale à 13
la variable i = 13
la variable i = 14
on incrémente i de 4. i est maintenant égale à 19
la variable i = 19

In [76]:
i = 1

In [77]:
i=+8

In [78]:
print(i)

8

In [67]:
a = float("12.36")
print(a + 5)
a = int("184")
print(a + 20)
a, b = 17, ["Emile", 7.65]
ch =str(a) +" est un entier et " +str(b) +" est une liste."
print(ch)

17.36
204
17 est un entier et ['Emile', 7.65] est une liste.

### exercises

In [84]:
# exercice 1
# On a 7 jours de la semaine : Jack, Kack, Lack, Mack, Nack, Oack, Pack et Qack. Ecrivez un petit script qui génère tous ces noms à partir des deux chaînes suivantes : prefixes = 'JKLMNOP' et suffixe = 'ack'
prefixe = 'JKLMNOP'
suffixe = 'ack'
for letter in prefixe:
    print(letter+suffixe,end=" ")

Jack Kack Lack Mack Nack Oack Pack

In [86]:
# exercice 2
# Ecrire un script qui détermine si une chaîne contient ou non le caractère « e »
test = input("input une chaine de caractere")
if "e" in test:
    print("cette chaîne contient la lettre 'e'")
else :
    print("cette chaîne ne contient pas la lettre 'e'")

input une chaine de caractererrre
cette chaîne contient la lettre 'e'

In [13]:
# Exercice 3
# Ecrire un script qui parcourt une chaine : lorsqu’il rencontre une voyelle, il l’affiche, si c’est une consonne, il met « * »
test = input("input une chaine de caractere")
for letter in test: 
    if letter in "aeiouyAEIOUYàéîïèâäëù":
        print("cette chaîne contient la voyelle " + letter )
    else :
        print("*")

input une chaine de caracteretest
*
cette chaîne contient la voyelle e
*
*

In [210]:
# Exercice 4
# Ecrire un script qui recopie une chaîne (dans une nouvelle variable), en insérant des astérisques entre les caractères
test = input("input une chaine de caractere")
result = ""
length_test = len(test)
for i in range(0,length_test):
    if i != length_test -1 :
        result = result + test[i] + "*"
    else :
        result = result + test[i]
    temp = result
print(result)

input une chaine de caracteretest
t*e*s*t

In [211]:
# Ecrire un script qui recopie une chaîne (dans une nouvelle variable) en l’inversant
test = input("input une chaine de caractere")
result = ""
length_test = len(test)
for i in range(0,length_test):
    result = result + test[length_test-1-i]
print(result)
# end exercise
# y a cours le 15 et le 21 nov 2 heures 14:16h cours avec une autre personne

input une chaine de caractereabcd
dcba

## cours2 liste

### code

In [136]:
jour = ["lundi","mardi","mercredi","jeudi","vendredi","samedi","dimanche",1800] # elements mixtes

In [125]:
jour[7]

1800

In [126]:
nombre = [5,38,10,25]

In [130]:
print(nombre[2],nombre[1:3],nombre[2:3],nombre[-1])

10 [38, 10] [10] 25

In [132]:
jour[7]  = jour[7] + 13 # les listes sont modifiables pas comme des chaines de caractere
jour[3] = "Mercredi"

In [141]:
len(jour)
# del(jour[7])
len(jour)
jour.append('hehe')

In [143]:
n = 5 
premier = [1,2,3,5,7,11,13,17]
if n in premier:
    print(n,"fait partie des nombres premiersP")

5 fait partie des nombres premiersP

In [156]:
# les listes sont des objets dotees de methodes
nombre = [5,38,10,25]
nombre.sort()
nombre.append(11)
nombre.reverse() # inverser l'ordre
nombre.index(10)
nombre.remove(38)
del nombre[2]
del nombre[1:3]

In [157]:
nombre

[11]

In [179]:
mots = ["jambon","fromage","confiture","chocolat"]
mots[2:2] = ["miel"] # a ne pas confondre avec mots[2:2] = "miel"
# mots[2:2] = "miel"
mots
mots[5:5] = ["saucisse","ketchup"]
mots

['jambon', 'fromage', 'miel', 'confiture', 'chocolat', 'saucisse', 'ketchup']

In [180]:
mots[2:5] = []
mots

['jambon', 'fromage', 'saucisse', 'ketchup']

In [181]:
mots[1:3] = ['salade']
mots

['jambon', 'salade', 'ketchup']

In [184]:
mots[1:] = ['mayo','poulet','tomate']
mots

['jambon', 'mayo', 'poulet', 'tomate']

In [185]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [186]:
list(range(3,16,3))  # from to step

[3, 6, 9, 12, 15]

In [187]:
list(range(10,-10,-3))
# list(range(3)) ???

[10, 7, 4, 1, -2, -5, -8]

In [193]:
# parcourir une liste
prov = ["la","raison","est","le","mal"]
for mot in prov:
    print(mot,end=" ")
    
for n in range(10,18,3):
    print("\n",n,n**2,n**3)
    
fable = ["Maitre","Corbeau","sur",'un']
for index in range(len(fable)):
    print(index, fable[index])

la raison est le mal
 10 100 1000

 13 169 2197

 16 256 4096
0 Maitre
1 Corbeau
2 sur
3 un

In [197]:
concat_list = prov + fable
multi_list = prov*3
print(multi_list)
"la" in prov

['la', 'raison', 'est', 'le', 'mal', 'la', 'raison', 'est', 'le', 'mal', 'la', 'raison', 'est', 'le', 'mal']

True

In [204]:
# sort list
li = [4,5,3,-6,7,9]
for n in sorted(li): # ici li n'a pas change
    print(n,end=" ")
print("\n",li)
li = [4,5,3,-6,7,9]
li.sort() # ici li a change, definition d'une methode sur un objet
print(li)

-6 3 4 5 7 9
 [4, 5, 3, -6, 7, 9]
[-6, 3, 4, 5, 7, 9]

In [206]:
# enumerate
for i,v in enumerate(li):
    print(i,v)
# egale
for i in range(len(li)):
    print(i,li[i])

0 -6
1 3
2 4
3 5
4 7
5 9
0 -6
1 3
2 4
3 5
4 7
5 9

In [208]:
# remarques
# indentation n'a pas d'importance
couleurs = ['test',
           "hehe"]
couleurs

['test', 'hehe']

### exercice

In [222]:
# exercice 1
t1 = [31,28,31,30,31,30,31,31,30,31,30,31]
t2 = ["janvier","fevrier","mars","avril","mai","juin","juillet","aout","septembre","octobre","novembre","decembre"]
# creer un t3 = ["janvier",31,fevrier,28 etc...]
result = []
for i in range(len(t1)):
    result = result+ [t2[i]] + [t1[i]]
result
len(result)

24

In [224]:
# exercice 2 
# Rechercher le plus grand élément dans une liste de nombres donnée.
input = [13,79,1,30,456,16]
sorted(input)[len(input)-1]

456

In [228]:
# exercice 3
# A partir d’une liste de nombres donnée, créer deux nouvelles listes : avec les nombres divisibles par 4 et les autres.
input = [13,79,1,30,456,16]
result1 = []
result2 = []
for chiffre in input:
    if chiffre%4 == 0:
        result1= result1 + [chiffre]
    else:
        result2= result2 + [chiffre]
print(result1)
print(result2)

## end exercices

[456, 16]
[13, 79, 1, 30]

## cours 2 fonctions

In [16]:
# raw_input ( ) : This function works in older version (like Python 2.x). This function takes exactly what is typed from the keyboard, convert it to string and then return it to the variable in which we want to store. For example –
#!!!! fallait pas le lancer dans jupyter
# from turtle import *
# forward(120)
# main https://realpython.com/python-main-function/
# Without the main sentinel, the code would be executed even if the script were imported as a module.

### note
if the content of foo.py

print __name__
if __name__ == '__main__':
    print 'XXXX'
A file foo.py can be used in two ways.

imported in another file : import foo
In this case __name__ is foo, the code section does not get executed and does not print XXXX.

executed directly : python foo.py
When it is executed directly, __name__ is same as __main__ and the code in that section is executed and prints XXXX

One of the use of this functionality to write various kind of unit tests within the same module.